In [1]:
import pandas as pd
data = pd.read_csv("E:\\Capstone Project\\Data\\Taxi_area\\pick201904attributes.csv")

In [2]:
data

,time,LocationID,Freq,pop_density,commercial_density,road_density
0,2019-04-01 0,3,1,"10,077.459153174254000",0.040266,0.005688
1,2019-04-01 0,4,17,927.571453898363640,0.100784,0.004258
2,2019-04-01 0,7,77,"2,027.563859788347800",0.076239,0.005272
3,2019-04-01 0,10,4,"3,559.590836420669800",0.029118,0.005286
4,2019-04-01 0,13,11,"5,867.357874989525000",0.000000,0.004342
...,...,...,...,...,...,...
48399,2019-04-30 7,256,42,"2,810.442156017881600",0.139674,0.006376
48400,2019-04-30 7,260,42,"2,937.771591681933400",0.046092,0.004064
48401,2019-04-30 7,261,232,"13,215.846569959234000",0.000000,0.006796
48402,2019-04-30 7,262,140,0.000000000000000,0.054737,0.005476
48403,2019-04-30 7,263,472,"7,633.246334745385000",0.020641,0.006015

In [3]:
data['periods'] = ''
for j in range(len(data)):
    data.loc[j,'periods'] = data.loc[j,'time'][11]
data

,time,LocationID,Freq,pop_density,commercial_density,road_density,periods
0,2019-04-01 0,3,1,"10,077.459153174254000",0.040266,0.005688,0
1,2019-04-01 0,4,17,927.571453898363640,0.100784,0.004258,0
2,2019-04-01 0,7,77,"2,027.563859788347800",0.076239,0.005272,0
3,2019-04-01 0,10,4,"3,559.590836420669800",0.029118,0.005286,0
4,2019-04-01 0,13,11,"5,867.357874989525000",0.000000,0.004342,0
...,...,...,...,...,...,...,...
48399,2019-04-30 7,256,42,"2,810.442156017881600",0.139674,0.006376,7
48400,2019-04-30 7,260,42,"2,937.771591681933400",0.046092,0.004064,7
48401,2019-04-30 7,261,232,"13,215.846569959234000",0.000000,0.006796,7
48402,2019-04-30 7,262,140,0.000000000000000,0.054737,0.005476,7
48403,2019-04-30 7,263,472,"7,633.246334745385000",0.020641,0.006015,7

In [4]:
for j in range(len(data)):
    if data.loc[j,'periods'] == '0' or data.loc[j,'periods'] == '1':
        data.drop([j],axis=0, inplace = True)
data

,time,LocationID,Freq,pop_density,commercial_density,road_density,periods
353,2019-04-01 2,1,3,"1,955.000237282517900",0.000000,0.000000,2
354,2019-04-01 2,3,2,"10,077.459153174254000",0.040266,0.005688,2
355,2019-04-01 2,4,58,927.571453898363640,0.100784,0.004258,2
356,2019-04-01 2,5,1,"1,025.421951916079900",0.009294,0.004123,2
357,2019-04-01 2,7,147,"2,027.563859788347800",0.076239,0.005272,2
...,...,...,...,...,...,...,...
48399,2019-04-30 7,256,42,"2,810.442156017881600",0.139674,0.006376,7
48400,2019-04-30 7,260,42,"2,937.771591681933400",0.046092,0.004064,7
48401,2019-04-30 7,261,232,"13,215.846569959234000",0.000000,0.006796,7
48402,2019-04-30 7,262,140,0.000000000000000,0.054737,0.005476,7
48403,2019-04-30 7,263,472,"7,633.246334745385000",0.020641,0.006015,7

In [5]:
data = data.reset_index(drop=True)

In [6]:
data[data['time'] == '2019-04-22 2'].index

Int64Index([27128, 27129, 27130, 27131, 27132, 27133, 27134, 27135, 27136,
            27137,
            ...
            27330, 27331, 27332, 27333, 27334, 27335, 27336, 27337, 27338,
            27339],
           dtype='int64', length=212)

In [7]:
train = data.iloc[0:27128,0:6]

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_date = le.fit(train['time'])
train['time'] = df_date.transform(train['time'])

train

,time,LocationID,Freq,pop_density,commercial_density,road_density
0,0,1,3,"1,955.000237282517900",0.000000,0.000000
1,0,3,2,"10,077.459153174254000",0.040266,0.005688
2,0,4,58,927.571453898363640,0.100784,0.004258
3,0,5,1,"1,025.421951916079900",0.009294,0.004123
4,0,7,147,"2,027.563859788347800",0.076239,0.005272
...,...,...,...,...,...,...
27123,125,259,3,"3,274.569628439886900",0.045343,0.005288
27124,125,260,129,"2,937.771591681933400",0.046092,0.004064
27125,125,261,59,"13,215.846569959234000",0.000000,0.006796
27126,125,262,103,0.000000000000000,0.054737,0.005476
27127,125,263,350,"7,633.246334745385000",0.020641,0.006015

In [8]:
test = data.iloc[27128:,0:6]

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_date = le.fit(test['time'])
test['time'] = df_date.transform(test['time'])

test

,time,LocationID,Freq,pop_density,commercial_density,road_density
27128,0,3,3,"10,077.459153174254000",0.040266,0.005688
27129,0,4,37,927.571453898363640,0.100784,0.004258
27130,0,7,98,"2,027.563859788347800",0.076239,0.005272
27131,0,8,2,"1,707.545160479461200",0.000000,0.003249
27132,0,9,1,"12,073.642151036751000",0.030947,0.005898
...,...,...,...,...,...,...
38348,53,256,42,"2,810.442156017881600",0.139674,0.006376
38349,53,260,42,"2,937.771591681933400",0.046092,0.004064
38350,53,261,232,"13,215.846569959234000",0.000000,0.006796
38351,53,262,140,0.000000000000000,0.054737,0.005476
38352,53,263,472,"7,633.246334745385000",0.020641,0.006015

In [12]:
all = data.iloc[:,0:6]

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_date = le.fit(all['time'])
all['time'] = df_date.transform(all['time'])

all

,time,LocationID,Freq,pop_density,commercial_density,road_density
0,0,1,3,"1,955.000237282517900",0.000000,0.000000
1,0,3,2,"10,077.459153174254000",0.040266,0.005688
2,0,4,58,927.571453898363640,0.100784,0.004258
3,0,5,1,"1,025.421951916079900",0.009294,0.004123
4,0,7,147,"2,027.563859788347800",0.076239,0.005272
...,...,...,...,...,...,...
38348,179,256,42,"2,810.442156017881600",0.139674,0.006376
38349,179,260,42,"2,937.771591681933400",0.046092,0.004064
38350,179,261,232,"13,215.846569959234000",0.000000,0.006796
38351,179,262,140,0.000000000000000,0.054737,0.005476
38352,179,263,472,"7,633.246334745385000",0.020641,0.006015

In [13]:
train.to_csv(r'E:\\Capstone Project\\Data\\Taxi_area\\pick201904train.csv',index=False,sep=',')
test.to_csv(r'E:\\Capstone Project\\Data\\Taxi_area\\pick201904test.csv',index=False,sep=',')
all.to_csv(r'E:\\Capstone Project\\Data\\Taxi_area\\pick201904all.csv',index=False,sep=',')