In [17]:
import pandas as pd
import numpy as np

In [18]:
data = pd.read_excel("E:\\Capstone Project\\Data\\Taxi_area\\pick201904final.xlsx")
data

,time,LocationID,Freq,pop_density,commercial_density,road_density,X,Y
0,0,1,3,1955.000237,0.000000,0.000000,-74.174000,40.691831
1,0,3,2,10077.459153,0.040266,0.005688,-73.847422,40.864474
2,0,4,58,927.571454,0.100784,0.004258,-73.976968,40.723752
3,0,5,1,1025.421952,0.009294,0.004123,-74.188484,40.552659
4,0,7,147,2027.563860,0.076239,0.005272,-73.919694,40.761493
...,...,...,...,...,...,...,...,...
38708,179,256,42,2810.442156,0.139674,0.006376,-73.959905,40.710880
38709,179,260,42,2937.771592,0.046092,0.004064,-73.906306,40.744235
38710,179,261,232,13215.846570,0.000000,0.006796,-74.013023,40.709139
38711,179,262,140,0.000000,0.054737,0.005476,-73.946510,40.775932
38712,179,263,472,7633.246335,0.020641,0.006015,-73.951010,40.778766

In [19]:
for i in list(range(0,180)):
    subdata = data[data.time == i]
    subdata.to_csv(r'E:\\Capstone Project\\Data\\Taxi_area\\201904pick\\%d.csv'%i,index=False,sep=',')

In [20]:
data = pd.read_excel("E:\\Capstone Project\\Data\\Taxi_area\\drop201904final.xlsx")
data

,time,LocationID,Freq,pop_density,commercial_density,road_density,X,Y
0,0,1,64,1955.000237,0.000000,0.000000,-74.174000,40.691831
1,0,3,3,10077.459153,0.040266,0.005688,-73.847422,40.864474
2,0,4,53,927.571454,0.100784,0.004258,-73.976968,40.723752
3,0,5,1,1025.421952,0.009294,0.004123,-74.188484,40.552659
4,0,7,101,2027.563860,0.076239,0.005272,-73.919694,40.761493
...,...,...,...,...,...,...,...,...
43044,179,259,15,3274.569628,0.045343,0.005288,-73.852215,40.897932
43045,179,260,69,2937.771592,0.046092,0.004064,-73.906306,40.744235
43046,179,261,222,13215.846570,0.000000,0.006796,-74.013023,40.709139
43047,179,262,706,0.000000,0.054737,0.005476,-73.946510,40.775932
43048,179,263,996,7633.246335,0.020641,0.006015,-73.951010,40.778766

In [21]:
for i in list(range(0,180)):
    subdata = data[data.time == i]
    subdata.to_csv(r'E:\\Capstone Project\\Data\\Taxi_area\\201904drop\\%d.csv'%i,index=False,sep=',')

In [22]:
data = pd.read_excel("E:\\Capstone Project\\Data\\Taxi_area\\drop202004final.xlsx")
data

,time,LocationID,Freq,pop_density,commercial_density,road_density,X,Y
0,0,1,1,1955.000237,0.000000,0.000000,-74.174000,40.691831
1,0,3,1,10077.459153,0.040266,0.005688,-73.847422,40.864474
2,0,4,7,927.571454,0.100784,0.004258,-73.976968,40.723752
3,0,7,3,2027.563860,0.076239,0.005272,-73.919694,40.761493
4,0,9,1,12073.642151,0.030947,0.005898,-73.787949,40.751035
...,...,...,...,...,...,...,...,...
30424,179,259,3,3274.569628,0.045343,0.005288,-73.852215,40.897932
30425,179,260,1,2937.771592,0.046092,0.004064,-73.906306,40.744235
30426,179,261,1,13215.846570,0.000000,0.006796,-74.013023,40.709139
30427,179,262,15,0.000000,0.054737,0.005476,-73.946510,40.775932
30428,179,263,22,7633.246335,0.020641,0.006015,-73.951010,40.778766

In [23]:
for i in list(range(0,180)):
    subdata = data[data.time == i]
    subdata.to_csv(r'E:\\Capstone Project\\Data\\Taxi_area\\202004drop\\%d.csv'%i,index=False,sep=',')

In [24]:
data = pd.read_excel("E:\\Capstone Project\\Data\\Taxi_area\\pick202004final.xlsx")
data

,time,LocationID,Freq,pop_density,commercial_density,road_density,X,Y
0,0,3,1,10077.459153,0.040266,0.005688,-73.847422,40.864474
1,0,4,5,927.571454,0.100784,0.004258,-73.976968,40.723752
2,0,7,11,2027.563860,0.076239,0.005272,-73.919694,40.761493
3,0,10,4,3559.590836,0.029118,0.005286,-73.790986,40.678953
4,0,13,7,5867.357875,0.000000,0.004342,-74.016079,40.712038
...,...,...,...,...,...,...,...,...
25027,179,254,2,3934.935660,0.069204,0.005273,-73.858948,40.882157
25028,179,259,1,3274.569628,0.045343,0.005288,-73.852215,40.897932
25029,179,260,4,2937.771592,0.046092,0.004064,-73.906306,40.744235
25030,179,262,4,0.000000,0.054737,0.005476,-73.946510,40.775932
25031,179,263,21,7633.246335,0.020641,0.006015,-73.951010,40.778766

In [25]:
for i in list(range(0,180)):
    subdata = data[data.time == i]
    subdata.to_csv(r'E:\\Capstone Project\\Data\\Taxi_area\\202004pick\\%d.csv'%i,index=False,sep=',')